@{
    ViewData["Title"] = "Buch - Reservieren";
}

<esi:include src="http://assets/header.html"/>
<main>
    <div class="o-box">
        <h1>Buch Reservieren</h1>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <p class="card-text">
                    Um ein Buch zu reservieren die Suche verwenden
                </p>
            </div>
        </div>
    </div>
</main>
<esi:include src="http://assets/footer.html"/>
