@{
    ViewData["Title"] = "Buch - Reservieren";
    bool success = (bool) ViewData["Reserved"];
    string isbn = (string) ViewData["Isbn"];
}

<esi:include src="http://assets/header.html"/>
<main>
    <div class="o-box">
        <h1>Buch Reservieren!</h1>
        <div class="card bg-light mb-3">
            @if (success)
            {
                @: Buch @isbn erfolgreich reserviert
            }
            else
            {
                @:Buch @isbn; nicht erfolgreich reserviert
            }
        </div>
    </div>
</main>
<esi:include src="http://assets/footer.html"/>
